.signform1
{
    border:2px solid black;
    margin:10px;
    height:480px;
    width:480px;
    padding:10px;
    background-image:url("images/schoolimage1.jpg");
}

.formheading
{
    background-color:grey;

}
