{% extends 'index.html' %}
{% block content %}
<h1 style="text-align:center;">Create Teacher Account </h1>
<br>
<form method="post" enctype="multipart/form-data" align="center">
    {% csrf_token %}
    {% if success %}
    <script type="text/javascript">
        alert('Details Updated Successfully');
    </script>
    {% endif %}
<div class="form-row">
<div class="form-group col-md-6">
<label for="name"> Full Name</label>
<input type="text" class="form-control" id="tname" name="tname" style="text-align" required placeholder="Name here">
</div>
<div class="form-group col-md-6">
<label for="email">Email</label>
<input type="text" class="form-control" id="temail" name="temail" value="@gmail.com" style="text-align" required="">
</div>
</div>


<div class="form-row">
<div class="form-group col-md-3">
<label for="password">Password</label>
<input type="text" class="form-control" id="tpassword"  name="tpassword" style="text-align" required="">
</div>
<div class="form-group col-md-3">
<label for="qualification">Qualification</label>
    <select class="form-control" id="tqualification"  name="tqualification" style="text-align;padding:8px " required="">
        <option>Btech/BE</option>
        <option>Diploma</option>
        <option>MSC</option>
        <option>MA</option>
        <option>MCOM</option>
        <option>BSC</option>
        <option>BA</option>
        <option>BCOM</option>
        <option>PHD</option>
        <option>Mtech/ME</option>
        <option>B.Ed</option>
        <option>JBT</option>

    </select>
</div>
    <div class="form-group col-md-3">
<label for="subject">Subject</label>
    <select class="form-control" id="tsubject"  name="tsubject" style="text-align;padding:8px " required="">
        <option>English</option>
        <option>Hindi</option>
        <option>Mathematics</option>
        <option>Science</option>
        <option>Social Science</option>
        <option>Sanskrit</option>
        <option>Physics</option>
        <option>Maths(non medical</option>
        <option>Biology(medical)</option>
        <option>Chemistry</option>
        <option>Physical</option>
        <option>IT(+1)</option>
        <option>IP(+2)</option>
        <option>Economics</option>
        <option>Business Studies</option>
        <option>Hindi(10+1+2)</option>
        <option>Accountancy(10+1+2)</option>
        <option>English(10+1+2)</option>
        <option>Geography(10+1+2)</option>
        <option>Political Science(10+1+2)</option>
        <option>History(10+1+2)</option>
        <option>Psycology(10+1+2)</option>

   </select>
</div>

<div class="form-group col-md-3">
<label for="mobile">Mobile</label>
<input type="text" class="form-control" id="tmobile"  name="tmobile" value="+91" style="text-align" required="">
</div>
</div>


<div class="form-row">
    <div class="form-group col-md-3">
    <div class="form-check form-check-inline">
        <label for="gender">Gender</label></br>
        <input type="radio" id="tgenderm" name="tgender" value="male">Male &nbsp;&nbsp;
        <input type="radio" id="tgenderf" name="tgender" value="female">Female &nbsp;&nbsp;
        <input type="radio" id="tgendero" name="tgender" value="others">Others
    </div>
    </div>
    <div class="form-group col-md-3">
<label for="session">Session</label>
<input type="date" class="form-control" id="tsession" name="tsession" value="2010" style="text-align" required="">
</div>
<div class="form-group col-md-3">
<label for="dob">Date of Birth</label>
<input type="date" class="form-control" id="tdob" name="tdob" style="text-align" required="">
</div>
<div class="form-group col-md-3">
<label for="doj">Date of Joining</label>
<input type="date" class="form-control" id="tdoj" name="tdoj" style="text-align" required="">
</div>
</div>

<div class="form-row">
<div class="form-group col-md-6">
<label for="address">Address</label>
<input type="text" class="form-control" id="taddress" name="taddress" style="text-align" required="">
</div>

</div>
<div class="form-group col-md-6">
<div class="custom-file">

<label class="custom-file-la bel" for="image" aria-describedby="inputGroupFileAddon02">Choose Image</label>
    <input type="file" id="timage" name="timage">
</div>
</div>

<br>
<div align="center" class="form-group col-md-12">
<input type="submit"  value="Submit">
</div>
</form>
<br>
<br>
<div align="center" class="form-group col-md-12">

    <a  href="/manager/viewteacher/">View Teacher Records</a>
</div>
{% endblock %}


