<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/css/errorcss.css" type="text/css" >

    <title>Title</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="xs-12 md-6 mx-auto">
            <div id="countUp">

                {% if d == '1' %}
                <div class="number"><h1>Session Expired</h1></div>
                <div class="text"><h1>GO BACK</h1></div>
                <div class="text"><h1></h1></div>
                <div class="text"><h1>Click on the Link Below To Login Again</h1></div>
                <a href="/login/"><img src="/assets/images/backbutton.png"></a>
                {% endif %}

                {% if d == '2' %}
                <div class="number"><h1>Invalid Login</h1></div>
                <div class="text"><h1>GO BACK</h1></div>
                <div class="text"><h1></h1></div>
                <div class="text"><h1>CLICK ON THE LINK BELOW</h1></div>
                <a href="/login/"><img src="/assets/images/backbutton.png"></a>
                {% endif %}

                {% if d == '3' %}
                <div class="number"><h1>You are not logged In. </h1></div>
                <div class="text"><h1>GO BACK</h1></div>
                <div class="text"><h1></h1></div>
                <div class="text"><h1>CLICK ON THE LINK BELOW</h1></div>
                <a href="/login/"><img src="/assets/images/backbutton.png"></a>
                {% endif %}

            </div>
        </div>
    </div>
</div>


</body>
<script type="text/javascript" src="/assets/js/errorjs.js" ></script>
<script src="/assets/js/jquerymain.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="/assets/js/bootstrap/bootstrap.min.js" ></script>

</html>