<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/css/errorcss.css" type="text/css" >

    <title>Title</title>
</head>
<body>#
<div class="container">
    <div class="row">
        <div class="xs-12 md-6 mx-auto">
            <div id="countUp">
                <div class="number"><h1>UNAUTHORIZE ACCESS</h1></div>
                <div class="text"><h1>GO BACK</h1></div>
                <div class="text"><h1></h1></div>
                <div class="text"><h1>CLICK ON THE LINK BELOW</h1></div>
                <a href="http://127.0.0.1:8000/signup/"><img src="/assets/images/backbutton.png"></a>
            </div>
        </div>
    </div>
</div>


</body>
<script type="text/javascript" src="/assets/js/errorjs.js" ></script>
<script src="/assets/js/jquerymain.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="/assets/js/bootstrap/bootstrap.min.js" ></script>

</html>