<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="/assets/css/bootstrap/bootstrap.min.css" >
    <link rel="stylesheet" href="/assets/css/errorcss.css" type="text/css" >

    <title>Title</title>
</head>
<body>
<div class="signform1" style="width:350px;">
<form  method="POST" enctype="multipart/form-data" >
    {% csrf_token %}

    <div class="formheading" ><label><h1>Sign Up Form</h1></label></div>

    <div class="form-group">
    <label >Username</label>
    <input type="text" class="form-control" id="l1" name="l1"><br>
    </div>
    <div class="form-group">
    <label>Password</label>
    <input type="password" class="form-control" id="l2" name="l2"><br>
    </div>
    <input type="submit" value="Login" id="b1" name="b1">

</form>

    </div>
<div>
    {% if wrongem %}
    <div> Wrong Email</div>
    {% endif %}
</div>
<div>
    {% if wrongpw %}
    <div> Wrong Password</div>
    {% endif %}
</div>



<div>
    {% if notverified %}
    <div> Account not Verified </div>
    {% endif %}
</div>

</body>
<script type="text/javascript" src="/assets/js/errorjs.js" ></script>
<script src="/assets/js/jquerymain.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="/assets/js/bootstrap/bootstrap.min.js" ></script>

</html>